<%= form_for @portfolio do |f| %>
  <% if @portfolio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>

      <ul>
      <% @portfolio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-style-8">
  <h2>Please Fill Out The Form Below</h2>
  <form>
    <div class="field">
      Name<br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      Description<br>
      <%= f.text_field :description, value: "#{@portfolio.try(:description)}" %>
    </div>
    <div class="field">
      Start-time<br>
      <%= f.date_field :start_time, value: "#{@portfolio.try(:start_time)}" %>
    </div>
    <div class="field">
      End-time<br>
      <%= f.date_field :end_time, value: "#{@portfolio.try(:end_time)}"  %>
    </div>

    <% i = 0 %>
      <%= f.fields_for :holdings do |ff| %>
      <div class="form-divider">
        <div class="field">
          Symbol<br>
          <%= ff.text_field :symbol, :value => @selections[i].try(:symbol) %>
        </div>
        <div class="field">
          Allocation<br>
          <%= ff.number_field :allocation, :value => @selections[i].try(:allocation) %>
        </div>
        <% if ff.object.persisted? %>
        <div class="field">
          <div class="delete-checkbox">Delete</div>
          <div class="delete-checkbox"><%= ff.check_box :_destroy, style: "height:50px;" %></div>
        </div>
        <% end %>
      </div>

      <% i += 1 %>
    <% end %>
  </form>
  <div class="container-fluid">
    <%#= button_to 'Back', portfolios_path, :method => "get", :class => "btn btn-primary btn-sm" %>
    <%= button_tag "Cancel", :class => "btn btn-primary btn-sm", :onclick => "location.href = '#{portfolios_path}'" %>
    <%= f.submit :class => "btn btn-primary btn-sm" %>
  </div>
<% end %>


<script type="text/javascript">
//auto expand textarea
function adjust_textarea(h) {
    h.style.height = "20px";
    h.style.height = (h.scrollHeight)+"px";
}
</script>
