<%= form_for @portfolio do |f| %>

  <% if @portfolio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>

      <ul>
      <% @portfolio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Name<%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    Start-time<%= f.label :start_time %><br>
    <%= f.text_field :start_time %>
  </div>
  <div class="field">
    End-time<%= f.label :end_time %><br>
    <%= f.text_field :end_time %>
  </div>

  <% i = 0 %>
    <%= f.fields_for :holdings do |ff| %>
      <div class="field">
        Symbol<%= ff.label :symbol %><br>
        <%= ff.text_field :symbol, :value => @selections[i].symbol %>
      </div>
      <div class="field">
        Allocation<%= ff.label :allocation %><br>
        <%= ff.number_field :allocation, :value => 0 %>
      </div>
      <%# if ff.object.persisted? %>
        <%#= ff.check_box :_destroy %>
        <%#= ff.label :_destroy, "Destroy" %>
      <%# end %>
    <% i += 1 %>
  <% end %>


  <div class="actions">
    Submit:<%= f.submit %>
  </div>
<% end %>
