<%# if api.any? %>

<%# else %>
<section class="container portfolio">
  <p id="notice"><%= notice %></p>
  <% i = 1 %>
  <% @portfolios.each do |portfolio| %>

  <div class="wrapper">
    <div class="card radius shadowDepth1">
      <div class="card__image border-tlr-radius">
        <img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
      </div>

      <div class="card__content card__padding">
        <div class="card__share">
          <div class="card__social">
            <%= link_to 'Edit', edit_portfolio_path(portfolio), class: "share-icon facebook" %></a>
            <%= link_to 'Destroy', portfolio, class: "share-icon googleplus", method: :delete, data: { confirm: 'Are you sure?' } %></a>
          </div>
          <a id="share" class="share-toggle share-icon" href="#"></a>
        </div>

        <div class="card__meta">
        <a href="#"><strong style="color: #3498e1">Portfolio <%= i %></strong></a>
          <time><%= portfolio.created_at.strftime("%b %d %Y") %></time>
        </div>

        <article class="card__article">
          <h3><%= link_to portfolio.name, portfolio_path(portfolio.id) %></h3>
          <!-- Description for each portfolio goes here -->
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...</p> -->
        </article>
      </div>

      <div class="card__action">
        <div class="card__author">
          <img src="http://lorempixel.com/40/40/sports/" alt="user">
          <div class="card__author-content">
            By <a href="#"><%= @user.email %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% i += 1 %>
  <% end %>
  <%= link_to 'New Portfolio', industries_path, class: "btn btn-primary container-fluid" %>
</section>

<!-- High Chart JavaScript -->
<!-- <script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

<script src="assets/portfolio.js"></script> -->
<script src="assets/dashboard.js"></script>
