<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @portfolio.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @portfolio.user %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @portfolio.holdings %>
  <%= @portfolio.holdings.nil? %>
<!-- <%#= @portfolio.holdings.first %>
  <%#= @portfolio.holdings.first.allocation %> -->
</p>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>


<div id="chart" class="container">


</div>

 <%= javascript_tag do %>
    var stocks = <%= @final.to_json.html_safe %>
  <% end %>

<!-- High Chart JavaScript -->
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

<script src="/assets/highcharts.js"></script>

