<!-- <p id="notice"><%#= notice %></p> -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


  <div id="container">
    <% @stocks.each do |stock| %>
    <% stock.id %>
      <div class="buddy" style="display: block;">
        <div class="avatar"  style="display: block; background-image: url(/assets/team/4.jpg)"></div>
        <p style=" color: black">Name:<%= stock.name %></p>
        <p style=" color: black">Symbol:<%= stock.symbol %></p>
        <p><%= button_to 'Yes', stocks_users_path, params: {'stocks_user[user_id]'=> 1,'stocks_user[stock_id]' => stock.id},  class: "btn btn-primary yes-button" %></p>
        <p><%= button_to 'No', industry_path(session[:industry_id]), class: "btn btn-primary no-button" %></p>
      </div>
    <% end %>
  </div>
  <div id="stock-button">
        <%= button_to 'Proceed', stocks_users_path, class: "btn btn-primary" %>
  </div>


<!-- Tinder Card JavaScript -->
<script src="/assets/card.js"></script>
<!--
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script> -->
<script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>

