<!-- <p id="notice"><%#= notice %></p> -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div id="container">
    <div class="buddy" style="display: block;"><div class="avatar"  style="display: block; background-image: url(/assets/team/4.jpg)"></div></div>
    <div class="buddy"><div class="avatar" style="display: block; background-image: url(/assets/team/2.jpg)"></div></div>
    <div class="buddy"><div class="avatar" style="display: block; background-image: url(/assets/team/1.jpg)"></div></div>
    <div class="buddy"><div class="avatar" style="display: block; background-image: url(/assets/team/3.jpg)"></div></div>
  </div>

<!-- Tinder Card JavaScript -->
<script src="/assets/card.js"></script>
<!--
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script> -->
<script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>


<p>
  <strong>Name: </strong>
  <%= @stock.name %>
</p>

<!-- <button type="button" class="btn btn-default navbar-btn" method="post" action=<% stock_users_path %>>Yes</button> -->

<%= button_to 'Yes', stock_users_path, params: {'session[user_id]'=> 1,'stock_user[stock_id]' => @stock.id}  %>
<%= button_to 'No', industry_path(session[:industry_id]) %>

</div>
<#% end %>

<%= button_to 'Proceed', stock_users_path %>

<%= link_to 'Edit', edit_industry_path(@industry) %> |
<%= link_to 'Back', industries_path %>
